.error {
    color: $off-white;
    font-style: italic;
    margin: 2.4rem;
    padding: 0 3.6rem;
}

.add-option {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    input {
        flex-grow: 1;
        background-color: $blue;
        border: none;
        border-bottom: .3rem solid darken($blue, 10%);
        margin: 0 0 1.2rem 0;
        // margin-right: 1.2rem;
        color: $off-white;
        height: 4em;
    }
}

@media (min-width: 45rem) {
    .add-option {
        flex-direction: row;
    }
    .add-option {
        input {
            margin: 0 1.2rem 0 0;
            height: 4em;
        }
    }
}