.big-button {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: #fff;
    font-weight: 900;
    font-size: 4.8rem;
    width: 100%;
    margin-bottom: 4.8rem;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: .5;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: #fff;
    font-weight: 500;
    padding: 1.8rem;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}