@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Bungee Inline', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    background-color: $blue;
}
